<div class="login-wrapper">
  <div class="login-card">

    <div class="header">
      <h1>FitTech</h1>
      <h3>Admin Portal</h3>
      <img src="/LOGO.svg" alt="fitTech logo" class="illustration" />
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <label>Email</label>
        <input type="email" formControlName="email" placeholder="you@example.com" />
        <span *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          Please enter a valid email address
        </span>
      </div>

      <div class="input-group">
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="••••••••" />
        <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Min 8 characters
        </span>
      </div>

      <div class="row">
        <label>
          <input type="checkbox" />
          Remember me
        </label>
        <a  (click)="forgetPassword()">Forgot password?</a>
      </div>

      <button type="submit" class="btn" (click)="onSubmit()" [disabled]="loginForm.invalid">
        Login
      </button>

    </form>

  </div>
</div>