<div class="login-wrapper">
  <div class="login-card">

    <div class="header">
      <h1>FitTech</h1>
      <p>Annex Manager Portal</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <label>Annex Code</label>
        <input type="text" formControlName="annexCode" placeholder="ANX-123" />
        <span *ngIf="loginForm.get('annexCode')?.invalid && loginForm.get('annexCode')?.touched">
          Invalid format (ANX-###)
        </span>
      </div>

      <div class="input-group">
        <label>Password</label>
        <input type="password" formControlName="password" placeholder="••••••••" />
        <span *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          Min 8 characters
        </span>
      </div>

      <div class="row">
        <label>
          <input type="checkbox" />
          Remember me
        </label>
        <a href="#" (click)="forgetPassword()">Forgot?</a>
      </div>

      <button type="submit" class="btn" (click)="onSubmit()" [disabled]="loginForm.invalid">
        Login
      </button>

    </form>

  </div>
</div>