<aside class="sidebar">
  <div>
    <div class="sidebar-header">
      <div style="flex: 1;">
        <div class="sidebar-logo">
          <div class="sidebar-logo-icon">
            <img src="/LOGO.svg" alt="FitTech logo" />
          </div>
          <div class="sidebar-logo-text">FitTech</div>
        </div>
      </div>
    </div>

    <nav class="sidebar-nav">

      <div class="nav-item" routerLink="/admin-dashboard" routerLinkActive="active">
        <span class="material-symbols-outlined">dashboard</span>
        <span>Dashboard</span>
      </div>

      <div class="nav-item" routerLink="/coach" routerLinkActive="active">
        <span class="material-symbols-outlined">groups</span>
        <span>Coaches</span>
      </div>

      <div class="nav-item" routerLink="/member" routerLinkActive="active">
        <span class="material-symbols-outlined">person</span>
        <span>Members</span>
      </div>

      <div class="nav-item" routerLink="/plan" routerLinkActive="active">
        <span class="material-symbols-outlined">layers</span>
        <span>Plans</span>
      </div>

      <div class="nav-item" routerLink="/machine" routerLinkActive="active">
        <span class="material-symbols-outlined">engineering</span>
        <span>Machines</span>
      </div>

      <div class="nav-item" routerLink="/dailyToken" routerLinkActive="active">
        <span class="material-symbols-outlined">qr_code</span>
        <span>Daily Token</span>
      </div>

      <div class="nav-item" routerLink="/settings" routerLinkActive="active">
        <span class="material-symbols-outlined" routerLink="/settings" routerLinkActive="active">settings</span>
        <span>Settings</span>
      </div>

    </nav>
  </div>

  <div class="sidebar-footer">
    <span class="material-symbols-outlined" routerLink="/login" (click)="logout()">logout</span>
    <span>Logout</span>
  </div>
</aside>