.carousel {
  overflow: hidden;
  width: 100%;
}

.carousel-track {
  display: flex;
  gap: 1rem;
  width: max-content;
  animation: scroll 25s linear infinite;
}

.carousel:hover .carousel-track {
  animation-play-state: paused;
}

.coach-card {
  width: 280px;
  flex-shrink: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50%));
  }
}